.header {
  width: 100%;
  a:visited {
    color: white;
  }
  .imageWrapper {
    position: relative;
    width: 100%;
    box-sizing: border-box;
    padding: 0.6rem;
    background-color: #0d34e6;
    text-align: center;
  }
}
