.item {
  margin: 0.2rem;
  padding: 0.6rem 0.8rem;
  border-radius: 0.3rem;
  display: inline-block;
  > .itemLink {
    color: white;
    background: #3eb370;
    margin: 0.2rem;
    padding: 0.6rem 0.8rem;
    border-radius: 0.3rem;
    > a {
      text-decoration: none;
      color: white;
    }
  }
}
