.tagMenu {
  width: 96%;
  margin: 1rem auto 0 auto;
  > h2 {
    font-size: 24px;
    font-weight: bold;
    margin: 0;
    background-color: #0d34e6;
    color: white;
    padding: 10px 20px;
    border-radius: 5px;
  }
}
